body{
    background-color: #374259 ;
}
.container{
    background-color: #374259 ;
    position: relative;
    top: 250px;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.material{
    text-align: center;
    display: inline-block;
    background-color: #EEE3CB;
    width: 25%;
    height: 80px;
    border-radius: 5px;
    margin: 20px;
}
.material:hover{
    background-color: #082032;
    color: aliceblue;
}
.resources{
    text-align: center;
}
h1{
    font-family: 'Nunito sans',sans-serif;
    color: #EEE3CB;
}
h2{
    font-family: 'Nunito sans',sans-serif;
    margin-top: 23px;
}
